@charset "utf-8";

// Google Font - not used for performance optimizations
@import url("https://fonts.googleapis.com/css?family=Merriweather:300,700");
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");

//THEME: color pallette
$white: white;

// Update Bulma's global variables
$family-sans-serif: "Nunito", serif;
$grey-dark: #575757;
$grey-light: #8d949c;
$grey-lighter: #b8bfc7;
$primary: #a5bce9;
$link: $grey-light;
$widescreen-enabled: true;
$fullhd-enabled: true;
//$turquoise

// Import only what you need from Bulma (TODO: customize list)
@import "./node_modules/bulma/sass/utilities/_all";
@import "./node_modules/bulma/sass/base/_all";
@import "./node_modules/bulma/sass/elements/_all";
@import "./node_modules/bulma/sass/components/_all";
@import "./node_modules/bulma/sass/grid/_all";
@import "./node_modules/bulma/sass/layout/_all";

input,
textarea {
  border: 0 !important;
  border-radius: 0 !important;
}

/* main styles */

.title-font {
  font-family: "Merriweather", sans-serif;
  font-weight: 700;
}

p {
  margin: 0.75rem 0;
}

.container {
  margin: 0 auto;
}

.profile-pic-container {
  text-align: center;
  img {
    width: 350px;
    border-radius: 50%;
    border: 4px solid $white-ter;
  }
}
content,
section {
  display: block;
}

.page {
  display: block;
  width: 100%;
  //   max-height: calc(100vh - 152px);
  padding: 2rem;
}

.page--dark {
  color: $white;
  &__link {
    color: $link;
    text-decoration: underline;
  }
  &__link:hover {
    color: lighten($link, 8%);
  }
}

.main-footer {
  padding: 3rem;
  color: $grey-light;
  background-color: $grey-lighter;
  display: flex;
  justify-content: center;
  align-items: center;
  a {
    color: $grey-dark;
  }
}

.section-title {
  color: $primary;
  font-size: 1.5rem;
  margin: 2rem 0;
}

section#hero {
  background-color: $white;
}

section#projects {
  background-color: #8dd2e2;
}

section#contact {
  background-color: $grey-dark;
}

/* components */
.bullet-point {
  margin: 1rem 0;
  dt {
    font-weight: bold;
    font-size: 1.2rem;
    img {
      height: 2rem;
      width: 2rem;
      margin-right: 0.2rem;
      vertical-align: middle;
    }
  }
  dd {
    margin-left: 2.5rem;
    color: $grey-lighter;
  }
}

/* utilities */
