/**
 * Tailwind styles
 * 
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/preflight";
 */
@tailwind preflight;
@tailwind components;
@tailwind utilities;

@import "menu";

$black: #22292f;
$grey-darker: #606f7b;
$grey: #b8c2cc;
$grey-light: #dae1e7;
$white: #ffffff;

$beige: #f8f8f8;

$red-light: #ef5753;
$green-light: #51d88a;

$blue: #3490dc;
$blue-dark: #34495e;
$blue-light: #6cb2eb;

$purple-dark: #794acf;
$purple-lighter: #d6bbfc;

/* animate EVERYTHING */
* {
  transition: all 0.2s, height 1ms;
}

body {
  @apply font-sans;
  font-size: 16px;
  line-height: 1.5rem;
}

a {
  @apply text-white;
  text-decoration: underline;
  &:hover {
    @apply text-blue-light;
  }
}

.hero-links {
  a {
    color: $blue-dark;
    &:hover {
      color: $grey;
    }
  }
}

.hidden {
  display: none;
}

.profile-pic {
}
.profile-pic-shadow {
  box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.329);
}

.logo-main-text {
  @apply font-serif;
  @apply text-blue-dark;

  font-size: 5rem;
  line-height: 4rem;
  font-weight: bold;
  display: inline-block;
  text-decoration: none;
  user-select: none;
}

.capital-font {
  @apply font-serif;
}

/* components */

.bullet-point {
  margin: 1rem 0;
  dt {
    font-weight: bold;
    color: $green-light;
    font-size: 1.2rem;
    img {
      height: 2rem;
      width: 2rem;
      margin-right: 0.2rem;
      vertical-align: middle;
    }
  }
  dd {
    margin-left: 2.5rem;
    color: $grey-light;
  }
}

button[disabled] {
  background-color: $blue-light;
}
